.banner {
  width: 100%;
  margin-bottom: 5rem;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  .post {
    max-width: 721px;
    margin: 0 auto;

    h1 {
      display: block;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    .infos {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      font-size: 0.875rem;
      color: var(--info);

      time {
        margin-left: 0.5rem;
        margin-right: 1.625rem;
      }
  
      span {
        margin-left: 0.5rem;
        margin-right: 1.625rem;
      }
    }

    .lastPublicationDate {
      margin-bottom: 3.75rem;
      font-size: 0.875rem;
      font-style: italic;
      color: var(--info);
    }

    .content {
      font-size: 1.125rem;
      text-align: justify;
      line-height: 1.6rem;
      margin-bottom: 3.75rem;

      .heading {
        display: inline-block;
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 2.25rem;
        line-height: 3rem;
      }

      .body {
        margin-bottom: 2rem;

        .body:last-child {
          margin: 0;
        }      

        p,
        ul {
          margin: 1.5rem 0;
          color: var(--body);
        }

        p:last-child, ul:last-child, li:last-child {
          margin-bottom: 0;
        }

        ul {
          padding-left: 1.5rem;

          li {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}

.footer {
  max-width: 721px;
  margin: 0 auto;

  div:first-child {
    border-top: 1px solid var(--body);
    opacity: 0.1;
  }

  .buttons {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 18rem;
    

    button {
      display: block;
      background: none;
      border: 0;
      font-size: 1.125rem;
      color: var(--heading);
      outline: none;
      text-align: start;

      span {
        display: block;
        padding-top: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        color: var(--highlight);
        text-align: start;
      }
    }

    .nextPost {
      text-align: end;
    }

    
  }
}
