.banner {
  width: 100%;
  margin-bottom: 5rem;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  .post {
    max-width: 721px;
    margin: 0 auto;

    h1 {
      display: block;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    .infos {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      font-size: 0.875rem;
      color: var(--info);

      time {
        margin-left: 0.5rem;
        margin-right: 1.625rem;
      }
  
      span {
        margin-left: 0.5rem;
        margin-right: 1.625rem;
      }
    }

    .lastPublicationDate {
      margin-bottom: 3.75rem;
      font-size: 0.875rem;
      font-style: italic;
      color: var(--info);
    }

    .content {
      font-size: 1.125rem;
      text-align: justify;
      line-height: 1.6rem;

      .heading {
        display: inline-block;
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 2.25rem;
        line-height: 3rem;
      }

      .body {
        margin-bottom: 2rem;

        p,
        ul {
          margin: 1.5rem 0;
          color: var(--body);
        }

        ul {
          padding-left: 1.5rem;

          li {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}
